* {
    margin: 0 auto;
    padding: 0;
}

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-smooth: auto;
}

body {
    background: #F2F2F2;
    font-family: 'Roboto-Regular', Tahoma, Arial;
}
h2{
    font-size: 14px;
    white-space: nowrap;
    font-weight: normal;
}

h3 {
    font-size: 13px;
    white-space: nowrap;
    font-weight: normal;
}

p {
    font-size: 13px;
    text-align: justify;
    margin-bottom: 5px;
}

a:not(.notLink) {
    color: #0088CC;
    text-decoration: none;
    font-size: 14px;
}
a:not(.notLink):hover {
    color: #FF3400 !important;
    cursor: pointer;
}

ul {
    list-style: none;
}
img {
    display: block;
}
select {
    background: #F2F2F2;
    padding: 0px 0px 0px 5px;
    /*margin: 1px;*/
    border: 1px solid #DEDEDE;
    width: 100%;
}
option {
    padding: 3px 0px 3px 10px;
}
.fntGrey {
    color: #676767;
}
.fntLightGrey {
    color: #CCCCCC;
}
.clear {
    clear: both;
}
#header {
    width: auto;
    height: 40px;
    margin: 0 auto;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
    /*margin-bottom: 15px;*/
    position: fixed; top: 0px; z-index: 100;  width: 100%;
}
#h-content {
    width: 980px;
    margin: 0 auto;
}

#footer {
    width: 980px;
    clear: both;
}
#f-content {
    width: 780px;
    float: left;
}


#h-nav .site-name a { height: 40px; width: 43px; background: url('../images/site-logo-01.png') no-repeat scroll 0px 0px transparent; margin-right: -15px;}
#h-nav .site-name a:hover { background-position: 0px -40px !important; }

#h-nav li a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    white-space: nowrap;
    float: left;
    padding: 0px 15px 0 15px;
    line-height: 40px;
    font-weight: bold;
}

#h-nav li a:hover {
    color: #FF3400;
}

#wrapper {
    width: 980px;
    padding-top: 55px; /*40+15*/
}

#w-left {
    width: 780px;
    float: left;
}

#w-right {
    width: 190px;
    float: right;
}

#w-left-top {
    height: 230px;
    background: #000000;
    margin-bottom: 15px;
}
#w-left-middle {
    min-height: 100px; /*min-height or null*/
}

/*--tab */
.w-tab {
    margin-bottom: 15px;
}

.w-tab-menu {
    background: #A9A9A9;
    height: 30px;
    border: 1px solid #DEDEDE;
    box-shadow: 1px 1px 1px #D6D6D6;
    border-radius: 6px 6px 0 0;
    padding-left: 10px;
}

.w-tab-menu .views a {
    float: left;
    display:block;
    text-indent:-9999px;
    overflow:hidden;
    margin-top: 4.5px;
}
.w-tab-menu .views a.view-poster { width: 28px; height: 21px; background: url('../images/views_poster.gif') no-repeat scroll 0px -63px transparent; }
.w-tab-menu .views a.view-textcolumn { width: 28px; height: 21px; background: url('../images/views_textcolumn.gif') no-repeat scroll 0px -21px transparent; }
.w-tab-menu .views a.view-textcolumn:hover { background: url('../images/views_textcolumn.gif') no-repeat scroll 0px -42px transparent; }

.w-tab-menu ul li a {
    float: left;
    white-space: nowrap;
    line-height: 30px;
    color: #ffffff;
    padding: 0px 10px;
}

.w-tab-wrapper {
    background: #ffffff;
    padding: 28px;
    overflow: hidden; /*or using float*/
    border: 1px solid #DEDEDE;
    box-shadow: 1px 1px 1px #D6D6D6;
    border-radius: 0 0 6px 6px;
}

.box {
    margin-left: -10px;
}

.box .b-items {
    float: left;
    margin: 0 0 15px 10px;
}
.box .b-items a img.posterPhim {
    width: 134px;
    height: 193px;
    border: 1px solid #A8A8A8;
}
.box .b-items a img.posterTin {
    width: 134px;
    height: 95px;
    border: 1px solid #A8A8A8;
}
.box .b-items h2 {
    padding: 5px 0;
}
.box .b-items h2 a {
    font-size: 14px;
    color: #0088CC;
    text-overflow: ellipsis; overflow: hidden;white-space: nowrap; width: 134px; display:inline-block;
}
.box .b-items h2 a:hover {
    color: #FF3400;
}
.box .b-items h3 {
    /*Quoc Gia*/
    color: #676767;    
}
.box .b-items span {
    font-size: 14px;
}

/*-- w-right*/
#w-right .boxHelper {
    border: 1px solid #DEDEDE;
    box-shadow: 1px 1px 1px #D6D6D6;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #ffffff;
    overflow: hidden;
}
#w-right .boxHelper h3 {
    text-align: center;
    font-size: 15px;
    background: #FF3400;
    border-radius: 3px 3px 0 0;
    margin: 1px;
    color: #ffffff;
}
#w-right .boxHelper ul {
    padding: 0 10px 5px 10px;
    overflow: hidden;
}

#w-right .boxHelper ul li {
    padding: 2px;
    clear: both;
}


.lichChieu ul li span.tenPhim a {
    /*font-size: 14px;
    color: #0088CC;*/
}

.lichChieu ul li span.suatChieu a {
    margin-right: 3px;
    font-size: 13px;
    padding: 0 2px;
    float: left;
}

/*-- footer*/
#f-top-content {
    /*width: 100%;
    float: left;*/
    /*or use height*/
}
#f-bottom-content {
    height: 35px;
    clear: both;
}

#f-top-content div.f-left div {
    float: left;
    margin-right: 30px;
}
#f-top-content div.f-right div {
    float: right;
    margin-left: 2px;
}
#f-top-content div div img{
    float: left;
    margin-right: 2px;
}

/*-part 2*/
#thumb-tray {
    background: none repeat scroll 0 0 #211F20;
    height: 110px;
    width: 1180px;
    z-index: 15;
    margin-left: -100px;
}
#fade-left {
    background-color: #211F20;
    background-image: linear-gradient(to left, #211F20, #000000);
    display: block;
    height: 110px;
    width: 100px;
    float: left;
}
#fade-right {
    background-color: #211F20;
    background-image: linear-gradient(to right, #211F20, #000000);;
    display: block;
    height: 110px;
    width: 100px;
    float: right;
}
#thumb-tray-content {
    width: 1050px; /*980+70*/
    text-align: center;
    margin-right: -70px;
    float: left;
}

.content-header {
    height: 100px;
}
#c-h-title {
    height: 65px;
    /*position:relative;*/ /*1*/
}
#c-h-title div {
    /*div tam*/
   padding-top: 30px;
    /*position:absolute;
    bottom:0;*/           /*1*/
}
#c-h-title h4 {
    color: #ffffff;
    font-size: 25px;
    float: left;
    white-space: nowrap; display: inline-block;
}
#c-h-subtitle {
    height: 30px;
    float: left;
}
#c-h-subtitle h2 {
    font-size: 13px;
    line-height: 30px;
    float: left;
    white-space: nowrap; display: inline-block;
}
#c-h-subtitle h2 a.lnkXemSuatChieu {
    padding: 3px 15px;
    margin-right: 10px;
    color: #ffffff;
    background: #0088CC;
    border-radius: 5px;
}

#c-h-subtitle h2 a.lnkXemSuatChieu:hover {
    background: #FF3400;
    color: #ffffff !important;
}
#c-h-tabnav {
    height: 30px;
    float: right;
}
#c-h-tabnav h2{
    color: #ffffff;
    font-size: 13px;
    line-height: 30px;
    float: left;
    margin-left: 5px;
}
.content-swap {
    margin: 15px 0 15px 0;
    float: left !important;
    width: 100%;
}
#content-swap-left {
    float: left;
}
#content-swap-right {
    width: 260px;
    float: right;
    padding-left: 15px;
}

.c-h-menu-null {
    height: 65px;
}

.c-h-menu {
    height: 30px;
}
.c-h-menu h2 {
    color: #ffffff;
    font-size: 13px;
    line-height: 30px;
}
.content-swap ul li a{
    font-size: 13px;
}

/*-- part 3*/
.thumb-tray-content-items-image {
    height: 90px;
    width: 160px;
    /*background: #CCCCCC;*/
    margin: 10px 70px 10px 0px;
    display:inline-block;
}
.thumb-tray-content-items-video {
    height: 90px;
    width: 160px;
    background: #ffffff;
    margin: 10px 70px 10px 0px;
    display:inline-block;
}
.thumb-tray-content-items-image:hover {
    cursor: pointer;
}
.selected {
    color: #0088CC !important;
}
.thumb-tray-content-items-image .t-t-c-i-up {
    float: left; width: 100%;  height: 65px;
}
.thumb-tray-content-items-image .t-t-c-i-down {
    float: right; width: 100%; height: 25px;
}

.thumb-tray-content-items-image .t-t-c-i-up-left{
    float: left; width: 95px;
}
.thumb-tray-content-items-image .t-t-c-i-up-right {
    float: right; width: 65px; text-align: center;
}
.thumb-tray-content-items-image .t-t-c-i-up-right .dayofmonth {
    font-size: 57px; margin: -9px 2px -13px 0; color: #676767; display: block;
}
.thumb-tray-content-items-image .t-t-c-i-up-right .month {
    font-size: 13px; color: #676767; display: block;
}
.thumb-tray-content-items-image .t-t-c-i-up-left .day {
    font-size: 18px; float: left; margin: 2px 0 0 3px; color: #676767;
}
.thumb-tray-content-items-image .t-t-c-i-up-left .event {
    font-size: 12px; float: left; margin: 3px 0 0 3px; padding: 0px 5px; background-color: #ff0000; border-radius: 3px; color: #ffffff;
}
.thumb-tray-content-items-image div span:hover {
    color: #FF3400 !important;
}
.thumb-tray-content-items-image .t-t-c-i-down span{
    line-height: 25px; font-size: 18px; color: #ffffff;
}
/*-- part 4*/
#lichChieu-container {
    width: 980px;
    height: 490px;
    /*text-align: center;*/
}
#lc-box {    
    width: 995px;
    height: 100%;
    margin-left: -15px;
}
.lc-b-items {
    float: left;
    display:inline-block;
    height: 100%;
    margin-left: 15px;
    text-overflow: ellipsis; overflow: hidden;white-space: nowrap; display:inline-block;
}
.lc-b-items h3 {
    float: left;
    margin-bottom: 5px;
}
.lc-b-items h3.titlemovies {
    padding: 5px 50px 5px 5px;
    background: #ff0000;
    font-size: 14px;
    width: 100%;
}
.lc-b-items h3 {
    
}
.lc-b-items h3.datemovies {
    float: left;
    margin-top: 5px;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 0px;
    padding: 0px 5px;
    border-radius: 3px;
    background: #0088CC;
}
.lc-b-items h3.titlemovies a {
    color: #ffffff;
    float: left;
    text-overflow: ellipsis; overflow: hidden;white-space: nowrap; width: 90%; display:inline-block;
}
.lc-b-items h3.timemovies a {
    color: #ffffff;
    float: left;
    margin-right: 9px;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.formatmovies {
    padding: 0px 5px;
    margin-right: 5px;
    border-radius: 3px;    
}
.formatmovies_2D {
    float: left; background: #0088CC; color: #ffffff !important;
}
.formatmovies_3D {
    float: left; background: #CCCCCC; color: #0088CC !important;
}
/*
.lc-b-items div{
    position: relative; width: 184px; height: 261px;
}
.lc-b-items div a .caption {
    position: absolute; width: 184px; height: 10px; bottom: 0px; left: 0px;
    color: #ffffff; background: green; text-align:center; font-weight:bold; opacity:0.7;
}
*/

/*-- part 5*/

#bangGiaVe-container {
    width: 980px;
    height: 490px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 25%, rgba(20,20,20,1) 39%, rgba(44,44,44,1) 61%, rgba(71,71,71,1) 77%, rgba(89,89,89,1) 96%, rgba(76,76,76,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(25%, rgba(17,17,17,1)), color-stop(39%, rgba(20,20,20,1)), color-stop(61%, rgba(44,44,44,1)), color-stop(77%, rgba(71,71,71,1)), color-stop(96%, rgba(89,89,89,1)), color-stop(100%, rgba(76,76,76,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 25%, rgba(20,20,20,1) 39%, rgba(44,44,44,1) 61%, rgba(71,71,71,1) 77%, rgba(89,89,89,1) 96%, rgba(76,76,76,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 25%, rgba(20,20,20,1) 39%, rgba(44,44,44,1) 61%, rgba(71,71,71,1) 77%, rgba(89,89,89,1) 96%, rgba(76,76,76,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 25%, rgba(20,20,20,1) 39%, rgba(44,44,44,1) 61%, rgba(71,71,71,1) 77%, rgba(89,89,89,1) 96%, rgba(76,76,76,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 25%, rgba(20,20,20,1) 39%, rgba(44,44,44,1) 61%, rgba(71,71,71,1) 77%, rgba(89,89,89,1) 96%, rgba(76,76,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4c4c4c', GradientType=0 );
}
table {    
    width: 100%;
}
table thead tr th, table thead tr td {
    /*border: 1px solid #0088CC;*/
    padding: 5px 10px;
    background-color: #534434;
}
table thead tr th:hover, table thead tr td:hover {
    background-color: #FF3400;    
    color: #ffffff !important;
}
table tbody tr th, table tbody tr td {
    /*border: 1px solid #0088CC;*/
    padding: 3px 10px;
    background-color: #534434;
}
table tbody tr th:hover, table tbody tr td:hover {
    background-color: #FF3400;
    color: #ffffff !important;
}
thead tr.h_spacer, tbody tr.h_spacer {
    height: 3px;
}
thead tr td.v_spacer, tbody tr td.v_spacer {
    width: 3px !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0px !important;
    background: none !important;
}
.bgPurple {
    background-color: #9D1F61;
}
.bgGrey {
    /*background-color: #EEA238;*/
    background-color: #676767;
}
.bgBlue {
    background-color: #0088CC;
}
.bgPink {
    background-color: #FF6AAF;
}
.bgBrown {
    background-color: #6A4D2E;
}
.bgv-subtitle{
    border-bottom: 2px solid rgba(69, 69, 69, 0.8);  
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    padding: 10px 0;
}

/*-- ds ghe ngoi*/
div[role=room] {
    margin-right: -5px;
}
div[role=room] > div, div[role=room-info] > div {
	float: left;
	width: 24.7px;
	height: 14.7px;
	background-color: #CCCCCC;
	margin: 0 5px 5px 0;
    font-size: 11px;
    text-align: center;
    padding: 2px 0 8px 0;
    position: relative;
}
div[role=room] > div:hover {
    background-color: #FF3400;
}
div[role=room] > div span, div[role=room-info] > div span{
	margin-top: 10px;
    color: #000000;
}
.reserve {
	width: 7px;
	height: 7px;
    border-radius: 50%;
    background-color: #676767;
    position: absolute;
    top: 15px;
    left: 8px;
}
div [role=room] div[role=seat][type=VIP], div [role=room-info] div[role=seat][type=VIP] {
	background-color: #12D71C;
}

div[role=room-info] {
    position: relative;
    float: left;
}
div[role=room-info] h3{
    line-height: 24.7px;
    position: absolute;
    left: 29.7px;
}
div[role=room] > div[role=seat][type=selled], div[role=room-info] > div[role=seat][type=selled] {
	background-color: #676767 !important;
}
div[role=room] > div.selled  {
	background-color: #676767 !important;
}
#reserve-info div[role=room-info] {
    clear: both !important;
}
div[role="seat"]:hover {
    cursor: pointer;
}
div[role=room] div[role=seat].selected {
    background-color: #0088CC !important;
}